<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Core" version="0.12.0" targetFramework="net461" />
  <package id="Amazon.DynamoDb" version="0.12.0" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.29.2" targetFramework="net461" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.14.11" targetFramework="net461" />
  <package id="Carbon.Data" version="0.33.0" targetFramework="net461" />
  <package id="Carbon.Data.Annotations" version="2.0.0" targetFramework="net461" />
  <package id="Carbon.Json" version="1.8.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net461" />
</packages>